# UCD
/UnicodeData.txt
/CompositionExclusions.txt
/NormalizationTest.txt

# Generated code
/tests/TestNormalize.elm

# Node
/node_modules/

# Elm
/benchmarks/elm-stuff/
/elm-stuff/
/docs.json

# Parcel
/dist/
/.parcel-cache/
