module Unicode.Normalize.Internal exposing
    ( canonicalDecomposition
    , compatibleDecomposition
    , combiningClass
    , canonicalComposition
    )

canonicalDecomposition : Int -> Maybe (List Int)
canonicalDecomposition code =
    case code of
{%- for code in canonical_mappings %}
        {{ code }} -> Just [ {{ canonical_mappings[code] | join(', ') }} ]
{%- endfor %}
        _ -> Nothing

compatibleDecomposition : Int -> Maybe (List Int)
compatibleDecomposition code =
    case code of
{%- for code in compatible_mappings %}
        {{ code }} -> Just [ {{ compatible_mappings[code] | join(', ') }} ]
{%- endfor %}
        _ -> Nothing

combiningClass : Int -> Int
combiningClass code =
    case code of
{%- for code in combining_classes %}
        {{ code }} -> {{ combining_classes[code] }}
{%- endfor %}
        _ -> 0

canonicalComposition : Int -> Int -> Maybe Int
canonicalComposition code1 code2 =
    case code1 of
{%- for code1 in canonical_compositions %}
        {{ code1 }} -> case code2 of
{%- for code2 in canonical_compositions[code1] %}
            {{ code2 }} -> Just {{ canonical_compositions[code1][code2] }}
{%- endfor %}
            _ -> Nothing
{%- endfor %}
        _ -> Nothing
