module Unicode.Normalize.Internal exposing
    ( canonicalDecomposition
    , compatibleDecomposition
    , combiningClass
    , canonicalComposition
    )

canonicalDecomposition : Char -> Maybe String
canonicalDecomposition code =
    case code of
{%- for code in canonical_mappings %}
        {{ code | elm_unicode_char }} -> Just {{ canonical_mappings[code] | elm_unicode_string }}
{%- endfor %}
        _ -> Nothing

compatibleDecomposition : Char -> Maybe String
compatibleDecomposition code =
    case code of
{%- for code in compatible_mappings %}
        {{ code | elm_unicode_char }} -> Just {{ compatible_mappings[code] | elm_unicode_string }}
{%- endfor %}
        _ -> Nothing

combiningClass : Int -> Int
combiningClass code =
    case code of
{%- for code in combining_class_singles %}
        {{ code }} -> {{ combining_class_singles[code] }}
{%- endfor %}
        _ ->
{%- for code in combining_class_ranges %}
            if
{%- for range_begin, range_end in combining_class_ranges[code] %}
{%- if loop.first %}
                (code >= {{ range_begin }} && code <= {{ range_end }})
{%- else %}
                || (code >= {{ range_begin }} && code <= {{ range_end }})
{%- endif %}
{%- endfor %}
            then
                {{ code }}
            else
{%- endfor %}
            0

canonicalComposition : Char -> Char -> Maybe Char
canonicalComposition code1 code2 =
    case code1 of
{%- for code1 in canonical_compositions %}
        {{ code1 | elm_unicode_char }} -> case code2 of
{%- for code2 in canonical_compositions[code1] %}
            {{ code2 | elm_unicode_char }} -> Just {{ canonical_compositions[code1][code2] | elm_unicode_char }}
{%- endfor %}
            _ -> Nothing
{%- endfor %}
        _ -> Nothing
