module TestNormalize exposing (suite)

import Test exposing (Test)
import Expect

import Unicode.Normalize exposing (Form(..), normalize)

suite : Test
suite =
    Test.describe "Unicode.Normalize"
{% for case in cases %}
{%- if loop.first %}
    [ Test.test "Normalizes case {{ loop.index}}" <|{% else %}
    , Test.test "Normalizes case {{ loop.index}}" <|{% endif %}
        \() ->
            Expect.all
                [ \() -> Expect.equal
                    (normalize NFC {{ format_elm_string(case.source) }})
                    {{ format_elm_string(case.nfc) }}
                , \() -> Expect.equal
                    (normalize NFD {{ format_elm_string(case.source) }})
                    {{ format_elm_string(case.nfd) }}
                , \() -> Expect.equal
                    (normalize NFKC {{ format_elm_string(case.source) }})
                    {{ format_elm_string(case.nfkc) }}
                , \() -> Expect.equal
                    (normalize NFKD {{ format_elm_string(case.source) }})
                    {{ format_elm_string(case.nfkd) }}
                ]
                ()
{% endfor %}
        ]
