module TestNormalize exposing (suite)

import Test exposing (Test)
import Expect

import Unicode.Normalize exposing (Form(..), normalize)

suite : Test
suite =
    Test.describe "Unicode.Normalize"
        [
{% for case in cases %}
            Test.test "Normalizes case {{ loop.index }} to NFC" <|
                \() -> Expect.equal
                    (normalize NFC {{ format_elm_string(case.source) }})
                    {{ format_elm_string(case.nfc) }},
            Test.test "Normalizes case {{ loop.index }} to NFD" <|
                \() -> Expect.equal
                    (normalize NFD {{ format_elm_string(case.source) }})
                    {{ format_elm_string(case.nfd) }},
            Test.test "Normalizes case {{ loop.index }} to NFKC" <|
                \() -> Expect.equal
                    (normalize NFKC {{ format_elm_string(case.source) }})
                    {{ format_elm_string(case.nfkc) }},
            Test.test "Normalizes case {{ loop.index }} to NFKD" <|
                \() -> Expect.equal
                    (normalize NFKD {{ format_elm_string(case.source) }})
                    {{ format_elm_string(case.nfkd) }}
{%- if not loop.last %},{% endif %}
{% endfor %}
        ]
